<header>
    <div class="header_div">
        <a href="/"><img id="logo" src="../img/mainlogo1.svg" alt="logo"></a>
        <div>
            <ul class="menu">
                <li><a class="a_line" href="/">Главная</a></li>
                <li><a class="a_line" href="/movies">Фильмы</a></li>
                <li><a class="a_line" href="/series">Сериалы</a></li>
                <li><a class="a_line" href="/cartoons">Мультфильмы</a></li>
            </ul>
        </div>
        <% if (avatar && firstname) { %> 
            <div class="dropdown_profile">
                <% if(firstname.length>=8) { %>
                    <div style="width: 10em;" class="profile window_profile" aria-expanded="false" aria-controls="list">
                        <img class="profile_avatar" alt="profile" src="../img/avatars/<%= avatar %>">
                        <p><%= firstname %></p>
                    </div>
                <% } else { %>
                    <div class="profile window_profile" aria-expanded="false" aria-controls="list">
                        <img class="profile_avatar" alt="profile" src="../img/avatars/<%= avatar %>">
                        <p><%= firstname %></p>
                    </div>
                <% } %>     
                <ul class="profile_menu" aria-hidden="true">
                    <li class="menu-item" tabindex="-1">
                        <a href="/profile">
                            <i class="fa-solid fa-address-card"></i>
                            <span>Профиль</span>
                        </a>
                    </li>
                    <li class="menu-item" tabindex="-1">
                        <a href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i> 
                            <span>Выйти</span>
                        </a>
                    </li>
                </ul>   
            </div> 
        <% } %>
        <% if (!avatar && firstname) { %>
            <div class="dropdown_profile">
               <% if(firstname.length>=8) { %>
                    <div style="width: 8em;" class="profile window_profile" aria-expanded="false" aria-controls="list">
                        <i class="fa-solid fa-user"></i>
                        <p><%= firstname %></p>
                    </div>
                <% } else { %>
                    <div class="profile window_profile" aria-expanded="false" aria-controls="list">
                        <i class="fa-solid fa-user"></i>
                        <p><%= firstname %></p>
                    </div>
                <% } %>   
                <ul class="profile_menu" aria-hidden="true">
                    <li class="menu-item" tabindex="-1">
                        <a href="/profile">
                            <i class="fa-solid fa-address-card"></i>
                            <span>Профиль</span>
                        </a>
                    </li>
                    <li class="menu-item" tabindex="-1">
                        <a href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i> 
                            <span>Выйти</span>
                        </a>
                    </li>
                </ul>
            </div> 
        <% } if(!avatar && !firstname) { %>
            <div class="profile open-popup">
                <i class="fa-solid fa-user"></i>
                <p>Войти</p>
            </div>
        <% } %>   
        
        <div class="burger_menu" id="burger_menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
<div class="bg"> 
    <form id="login-form" action="/login" method="post" class="form_phone" enctype="multipart/form-data">
        <div class="x_border">
            <i class="fa-solid fa-xmark close-popup"></i>
        </div>
        <img id="form_logo" src="../img/mainlogo1.svg" alt="logo">
        <p class="form_text_phone">Авторизация</p>
        <input class="form_inp" name="login" type="text" placeholder="Логин" required>
        <br>
        <input class="form_inp" name="pass" type="password" placeholder="Пароль" required>
        <br>
        <p class="text-danger" id="error-message1" hidden>Неправильный логин или пароль</p>
        <input type="submit" class="form_button" value="Войти">

        <p class="form_text_continue">
            <span>
                Впервые у нас?
                <a text-decoration="underline" id='reg' href="#">Зарегистрироваться</a>
            </span>  
            <br> 
            <span class="conditions">Нажимая «Продолжить», я принимаю условия Пользовательского соглашения ООО «Вайолет Ай»</span>
        </p>
    </form>
    <form id="register-form" action="/reg" method="post" class="next_window" enctype="multipart/form-data"> 
        <div class="x_border">
            <i class="fa-solid fa-xmark close-popup"></i>
        </div>
        <img id="form_logo" src="../img/mainlogo1.svg" alt="logo">
        <p class="form_text_phone">Регистрация</p>
        <input placeholder="Имя" class="form_inp" type="text" name="firstname">
        <input placeholder="Фамилия" class="form_inp" type="text" name="lastname">
        <input placeholder="Логин" class="form_inp" type="text" name="login">
        <input placeholder="Пароль" class="form_inp" type="password" name="pass">
        <br>
        <p class="text-danger" id="error-message2" hidden>Этот логин уже занят</p>
        <input class="form_button" type="submit" value="Зарегистрироваться">
    </form>
</div>  