

<div class="show_main">
    <h1><%= show.name %></h1>
    <div class="show_main_desc">
        <p><%= show.genre %></p>
        <% if(show.free == 0) { %>
            <p class="green">Бесплатно</p>
        <% } else { %>
            <p class="buy">Платно</p>
        <% } %>
        <p><%= show.year %></p>
        <p><%= show.country %></p>
    </div>
    <iframe class="show_video" src="https://www.youtube.com/embed/<%=show.video %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <h2>О фильме</h2>
    <div class="description_of_show">
        <img class="show_img" src="../img/<%= show.img %>">
        <div class="description_of_show_text">
            <p><%- show.description %></p>
            <br>
            <p>В ролях: <%=show.actors %> </p>
            <br>
            <p>Возраст: <%=show.age %></p>
        </div>
    </div>
    <h2>Комментарии</h2>
    <form method="post" action="/<%= contentType %>/<%= contentId %>" class="com">
        <% if (avatar) { %>
            <div class="profile_circle">
                <img class="prof_avatar" alt="profile" src="../img/avatars/<%= avatar %>">
            </div>
        <% } else { %>
            <div class="profile_circle">
                <i class="fa-solid fa-user"></i>
            </div>
        <% } %>
        <div class="com_form">
            <textarea name="comment" class="com_text" required></textarea>
            <div class="com_inp">
                <input id="cancel" type="reset" value="Отмена">
                <input id="left" type="submit" value="Оставить комментарий">
            </div>
        </div>
    </form>
    <div class="comments">
        <% if (comments && comments.length > 0) { %>
            <% comments.forEach(comment => { %>
                <div class="comment" data-comment-id="<%= comment.id %>">
                    <div class="comment_body">
                        <% if (comment.avatar) { %>
                            <div class="profile_circle">
                                <img class="prof_avatar" alt="profile" src="../img/avatars/<%= comment.avatar %>">
                            </div>
                        <% } else { %>
                            <div class="profile_circle">
                                <i class="fa-solid fa-user"></i>
                            </div>
                        <% } %>
                        <div class="comment_info">
                            <h2><%= comment.firstname %> <%= comment.lastname %></h2>
                            <p class="comment_text"><%= comment.comment %></p>
                            <textarea class="edit_comment_textarea com_text" style="display:none;"><%= comment.comment %></textarea>
                        </div>
                    </div>
                    <div class="com_buttons">
                        <% if (comment.user_id == userId) { %>
                            <button class="delete_comment" data-comment-id="<%= comment.id %>">Удалить</button>
                            <button class="edit_comment" data-comment-id="<%= comment.id %>">Редактировать</button>  
                            <button class="save_comment" style="display:none;" data-comment-id="<%= comment.id %>">Сохранить</button>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>Комментариев пока нет.</p>
        <% } %> 
    </div>
    
</div>

