<%- include('components/head'); %>
<html>
    <body>
        <%- include('components/header'); %>
        <main> 
            <div class="block">
                <div class="block_text">
                    <h1>Мультфильмы</h1>
                    <select class="take_select">
                        <option>Выбрать все</option>
                    </select>
                </div>
                <div class="shows">          
                <% cartoons.forEach(cartoon =>  { %>
                    <div class="show <%=cartoon.genre%>" >
                        <a href="/cartoon/<%=cartoon.id%>">
                            <img class="swiper_img" src="../img/<%= cartoon.img %>" alt="<%= cartoon.name %>">
                            <p class="slide_p"><%= cartoon.name %></p>
                            <p class="genre slide_p"><%= cartoon.genre %></p>
                            <% if(cartoon.free == 0) { %>
                                <p class="green slide_p">Бесплатно</p>
                            <% } else { %>
                                <p class="buy slide_p">Платно</p>
                            <% } %>
                        </a>
                    </div>
                <% }) %>
                </div> 
            </div>
            <%- include('components/footer'); %>
        </main>
        <%- include('components/window_script'); %>
        <%- include('components/filter'); %>
    </body>
</html>