<%- include('components/head', {title: "Профиль"}); %>
<html>
    <body>
        <%- include('components/header'); %>
        <main>
            <div class="profile_block">
                <h2>Ваши комментарии</h2>

                <!-- Таблица комментариев -->
                <table class="comments-table">
                    <thead>
                        <tr>
                            <th>Контент</th>
                            <th>Комментарий</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% comments.forEach(function(comment) { %>
                            <tr>
                                <td><a href="/show/<%= comment.show_id %>"><%= comment.show_id %></a></td>
                                <td><%= comment.comment %></td>

                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </main>
        <%- include('components/window_script'); %>
        <script>
        </script>
</body>
</html>