<%- include('components/head', {title: "Главная страница"}); %>
<html>
    <body>
        <%- include('components/header'); %>
        <main>
            <div class="swiper1 sample-slider">
                <div class="swiper-wrapper wrapper1">
                    <% main.forEach((main, i) => { if(i<7) { %>
                        <div class="swiper-slide slide1">
                            <a href="/from_main/<%=main.id%>">
                                <img class="slider1_img" src="../img/<%= main.img %>">
                            </a>
                        </div>
                    <%} }) %>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="page">
                <div class="info">
                    <div class="info_text">
                        <div class="info_left">
                            <h3>Все лучшее - <br>в одной подписке</h1>
                            <p>Смотрите крутые фильмы, сериалы и шоу</p>
                            <button class="take_subscribe open-popup">Оформить подписку</button>
                            <p>Первый месяц бесплатно
                            <br> Дальше — 199 ₽⁠/⁠месяц</p>
                        </div>
                        <div class="info_rigt">
                            <% series.forEach((serie, i) => { if(i>5 && i<9) { %>
                            <img id="info_img<%= serie.id %>" class="info_right_img" src="../img/<%= serie.img %>">
                            <%} }) %>
                        </div>
                    </div>
                </div>
                <div class="cover">
                    <h4><a class="a_line" href="/films">Фильмы</a></h4>
                    <div class="swiper2 sample-slider">
                        <div class="swiper-wrapper wrapper2">
                            <% movies.forEach((movie, i )=> { if (i<10) {%>
                                
                                    <div class="swiper-slide slide2">
                                        <a href="/movie/<%=movie.id%>">
                                            <img class="swiper_img" src="../img/<%= movie.img %>" alt="<%= movie.name %>">
                                            <p class="slide_p"><%= movie.name %></p>
                                            <p class="genre slide_p"><%= movie.genre %></p>
                                            <% if(movie.free == 0) { %>
                                                <p class="green slide_p">Бесплатно</p>
                                            <% } else { %>
                                                <p class="buy slide_p">Платно</p>
                                            <% } %>
                                        </a>
                                    </div>
                                
                            <%}}) %>
                        </div>
                    </div>
                </div>

                <div class="cover">
                    <h4><a class="a_line" href="/series">Сериалы</a></h4>
                    <div class="swiper2 sample-slider">
                        <div class="swiper-wrapper wrapper2">
                            <% series.forEach((serie, i) => { if (i<10) { %>
                                <div class="swiper-slide slide2">
                                    <a href="/serie/<%=serie.id%>">
                                        <img class="swiper_img" src="../img/<%= serie.img %>" alt="<%= serie.name %>">
                                        <p class="slide_p"><%= serie.name %></p>
                                        <p class="genre slide_p"><%= serie.genre %></p>
                                        <% if(serie.free == 0) { %>
                                            <p class="green slide_p">Бесплатно</p>
                                        <% } else { %>
                                            <p class="buy slide_p">Платно</p>
                                        <% } %>
                                    </a>
                                </div>
                            <%}}) %>
                        </div>
                    </div>
                </div>
                <h4 id="top">Топ недели</h4>
                <div class="grid_top">
                    <% main.forEach((grid, i) => {  if(i>=7) { %>
                        <div id="child<%=grid.id%>" class="grid_child">
                            <a href="/from_main/<%=grid.id%>">
                                <img id="g<%=grid.id%>" src="../img/<%= grid.img %>">
                                <p></p>
                            </a>
                        </div>
                    <% } }) %>
                </div>
                <div class="cover">
                    <h4><a class="a_line" href="/cartoons">Мультфильмы</a></h4>
                    <div class="swiper2 sample-slider">
                        <div class="swiper-wrapper wrapper2">
                            <% cartoons.forEach((cartoon, i) => { if (i<10) { %>
                                <div class="swiper-slide slide2">
                                    <a href="/cartoon/<%=cartoon.id%>">
                                        <img class="swiper_img" src="../img/<%= cartoon.img %>" alt="<%= cartoon.name %>">
                                        <p class="slide_p"><%= cartoon.name %></p>
                                        <p class="genre slide_p"><%= cartoon.genre %></p>
                                        <% if(cartoon.free == 0) { %>
                                            <p class="green slide_p">Бесплатно</p>
                                        <% } else { %>
                                            <p class="buy slide_p">Платно</p>
                                        <% } %>
                                    </a>
                                </div>
                            <%}}) %>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('components/footer'); %>
        </main>
        <%- include('components/window_script'); %>
        <script>
            const swiper1 = new Swiper('.swiper1 ', {
                    loop: true,  
                    autoplay: {
                        delay: 2500,
                    },
                    speed: 1000, 
                    breakpoints: { 
                        380: { 
                            slidesPerView: 1,
                            navigation: {                       
                                nextEl: ".swiper-button-next",
                                prevEl: ".swiper-button-prev",
                                lockClass: 'lock_swip'
                            },
                        },
                        460: { 
                            slidesPerView: 2,
                        },
                        901: { 
                            slidesPerView: 3,
                        }
                    }, 
                    slidesPerView: 3,                  
                    centeredSlides: true,              
                    effect: "coverflow",               
                    coverflowEffect: {
                        rotate: 0,                     
                        depth: 400,                    
                        stretch: 30,                   
                        modifier: 1,                   
                        scale: 1,                      
                        slideShadows: false,           
                    },
                    navigation: {                      
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                })
                const swiper2 = new Swiper('.swiper2', {
                    loop: false, 
                    spaceBetween: 25,
                    breakpoints: { 
                        380: { 
                            slidesPerView: 2,
                        },
                        460: { 
                            slidesPerView: 7,
                        },
                        820: {
                            slidesPerView: 3,
                        },
                        900: {
                            slidesPerView: 4,
                        },
                        1025: {
                            slidesPerView: 7,
                        },
                        1921: {
                            slidesPerView: 7,
                        }
                    }                   
                })
                let med_width = document.documentElement.clientWidth;
                let grid_childs = document.querySelectorAll('.grid_child')
                let n = 1;
                grid_childs.forEach(grid => {
                    let p = grid.querySelector('p');
                    p.textContent = n;
                    n++;
                })
                if(med_width>=380 && med_width<=1024) {
                    let nextSw = document.querySelector('.swiper-button-next');
                    let prevSw = document.querySelector('.swiper-button-prev');
                    nextSw.remove();
                    prevSw.remove();
                }
                console.log(med);
                
        </script>
    </body>
</html>